<div class='preview'>
    <a href='/blog/[titleLink]'>
        <h1 class='title'>[title]</h1>
    </a>
    <div class='createdDate'>
        <p class='py-10'>[createdDate]</p>
    </div>
    <div class='previewBody display-flex align-center justify-start pa-10'>
        <a href='/blog/[titleLink]'>
            <img class='mx-20' alt='img' width='100' height='100' src=''>
        </a>
        <div class='mx-20'>
            <p>[exerpt]</p>
            <div class='spacer-20'></div>
            <a href='/blog/[titleLink]'>Read on....</a>
        </div>
    </div>
</div>